
/* 添加字体 */

@font-face{
    font-family: 'peopleTitle';  
    src: url("peopleTitle.TTF"); 
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'peopleFilm';  
    src: url("peopleFilm.TTF"); 
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'peopleCa';  
    src: url("peopleCa.TTF"); 
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'peopleIn';  
    src: url("peopleIn.ttc"); 
    font-weight: normal;
    font-style: normal;
}
/*缩紧两格 */
p{
    text-indent: 2em;
}

#peopleDiv{
    height: 98vh;
    background-color:whitesmoke;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
}

#peopleTitle{
    font-family: peopleTitle;
    text-align: center;
    font-size: 6vh;
}

#peopleMain{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#q{
    width: 25vw;
    height: 40vh;
    padding: 1vh;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

#peoplePic{
    height: 30vh;
}

#peopleDescribe{
    display: none;
    height: 70vh;
    width: 80vw;
    background-color: rgb(139, 138, 138);
    position: fixed;
    left: 10vw;
    bottom: 13vh;
    border-radius: 10px;
    padding: 20px;
    opacity: 96%;
}


#peopleFilm{
    text-align: center;
    font-family: peopleFilm;
}

#peopleCa{
    text-align: center;
    font-family: peopleCa;
}

#peopleIn{
    font-family: peopleIn;
}
