body {
  margin: 0;
  background: url(../../bg.png) no-repeat center center;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
}

/* 添加字体 */
@font-face {
  font-family: "peopleTitle";
  src: url("peopleTitle.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "peopleFilm";
  src: url("peopleFilm.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "peopleCa";
  src: url("peopleCa.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "peopleIn";
  src: url("peopleIn.ttc");
  font-weight: normal;
  font-style: normal;
}
/*缩紧两格 */
p {
  text-indent: 2em;
}

#peopleDiv {
  height: 80vh;
  width: 100vw;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-start;
}

#peopleTitle {
  font-family: peopleTitle;
  text-align: center;
  font-size: 13vh;
  line-height: 12vh;
  color: whitesmoke;
  width: 100vw;
  text-shadow: 5px 5px rgb(156, 156, 156);
  position: relative;
  top: 15px;
}

#peopleMain {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

#q {
  width: 25vw;
  height: 33vh;
  padding: 1vh;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

#peoplePic {
  height: 30vh;
}

#peopleDescribe {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  bottom: 0px;
  backdrop-filter: blur(7px);
}

#peopleFilm {
  text-align: center;
  font-family: peopleFilm;
  color: whitesmoke;
}

#peopleCa {
  text-align: center;
  font-family: peopleCa;
}

#peopleIn {
  font-family: peopleIn;
}
.backDrop {
  height: 70vh;
  position: fixed;
  left: 10vw;
  bottom: 13vh;
}
#introduce {
  height: 70vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  bottom: 10vh;
}
