::-webkit-scrollbar {
    display: none;
}
.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill:gray;
    overflow: hidden;
}

.display {
    height: 70vh;
    display: grid;
    width: 300vw;
    grid-template-columns: repeat(18, 15vw);
    grid-gap: 1.75vw;
    grid-row: 1;
    justify-content: center;
    border-bottom: 1px lightgray solid;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px rgba(255, 255, 255, 0.8),
    inset -10px -0px 30px rgba(0, 0, 0, 0.05),
    inset 0px 0px 30px rgba(255, 255, 255, 1);
    z-index: -1;
}

.item {
    position: relative;
    height: 100%;
}

.year{
    color: dimgray;
    text-align: center;
}
.pictures {
    position: absolute;
    width: 100%;
    top: 21vh;
    column-count: 2;
    column-gap: 0;
}

.pictureBox {
    padding: 0.2rem;
    height: 100%;
    overflow: auto;
}

.pictureboder {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: solid gray;
    border-width: 0.05rem;
    box-shadow: inset 0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.1), inset -0.15rem -0.15rem 0.3rem rgba(0, 0, 0, 0.1);
}

.pictureboder img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: block;
}

.blank{
    border:none;
    box-shadow: none;
    width: 80%;
    height:3vh;
}
.informations {
    display: grid;
    width: 300vw;
    margin-top: 0.5rem;
    grid-template-columns: repeat(18, 15vw);
    grid-gap: 1.75vw;
    grid-row: 1;
    align-content: center;
    height: 24vh;
    top:72vh;

}
.index {
    font-size: 15px;
    color: dimgray;
    padding: 0.3rem;
    height: 18vh;
    text-align: center;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1),
    -10px -10px 25px rgba(255,255,255,1);
    border-radius: 0.5rem;
}
.scroll{
    z-index: 1;
    position:fixed;
    top:55vh;
    height: 6vh;
    width: 1.5vw;
    border: none;
    background-color:transparent;
}

#right{
    left:97vw;
}

#left{
    left: 1vw;
}